# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
.coverage
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Kafka / Zookeeper / Spark local data
kafka-data/
zookeeper-data/
spark-warehouse/

# Parquet / data
*.parquet
data/

